<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Weather App</title>
    <link rel='stylesheet' href='public/style.css'>    
</head>
<body>
    <h1>Weather App</h1>
    <form action='/' method='post'>
        <input name='city' type='text' placeholder='Enter a City'>
        <input type='submit' value='Get Weather'>
      </form>
      <% if(weather !== null) { %>
        <p> Weather in <%= weather.name; %> </p>
        <% let icon = 'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'; %>
        <img src= <%= icon %> > 
        <p><%= weather.weather[0].main; %></p>
        <p> Temperature is  <%= Math.round(weather.main.temp - 273.15); %> °C </p>
        <% } %>
        <% if(error !== null) { %>
            <p><%= error;%></p>
        <% } %>
</body>